@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+JP:wght@100..900&family=Zen+Old+Mincho&display=swap');

@keyframes introNone {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes outroNone {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes introFade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes outroFade{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes introSlideToLeft {
    0%{
        translate: 100%;
    }
    100%{
        translate: 0%;
    }
}

@keyframes outroSlideToLeft{
    0%{
        translate: 0%;
    }
    100%{
        translate: -100%;
    }
}

@keyframes introSlideToRight {
    0%{
        translate: -100%;
    }
    100%{
        translate: 0%;
    }
}

@keyframes outroSlideToRight {
    0%{
        translate: 0%;
    }
    100%{
        translate: 100%;
    }
}

@keyframes introSlideToTop {
    0%{
        translate:0 100%;
    }
    100%{
        translate:0 0%;
    }
}
    
@keyframes outroSlideToTop {
    0%{
        translate:0 0%;
    }
    100%{
        translate:0 -100%;
    }
}

@keyframes introSlideToBottom {
    0%{
        translate:0 -100%;
    }
    100%{
        translate:0 0%;
    }
}
    
@keyframes outroSlideToBottom {
    0%{
        translate:0 0%;
    }
    100%{
        translate:0 100%;
    }
}

.intro{
    --intro-name:introNone;
    animation-name: var(--intro-name);
    animation-duration:  0.5s;
}

.outro{
    --outro-name:outroNone;
    animation-name: var(--outro-name);
    animation-duration:  0.5s;
}

#telop{
    --font-name:"Noto Sans JP";
    --font-size:100px;
    font-family: var(--font-name);
    font-size: 100px;
}